<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= post.title %></h1>
    <% if (post.url_img) { %>
        <img src="<%= post.url_img %>" alt="" width="400">
    <% } else { %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl93jGvfkgObvJTYey-UbcG3oRDyHXYrlFoz0-ID0JMA&s">
    <% } %>
    <p><%= post.text %></p>
</body>
</html>